.f0
{
font-family: "Times New Roman", serif;
font-size: 10pt;
font-weight: normal;
}
.f1
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f2
{
font-family: "Times New Roman", serif;
font-size: 12pt;
font-weight: normal;
}
.f3
{
font-family: "Times New Roman", serif;
font-size: 8pt;
font-weight: normal;
}
.f4
{
font-family: "Times New Roman", serif;
font-size: 9pt;
font-weight: normal;
}
.f5
{
font-family: "Times New Roman", serif;
font-size: 6pt;
font-weight: normal;
}
.f6
{
font-family: "Times New Roman", serif;
font-size: 7pt;
font-weight: normal;
font-style: italic;
}
.f7
{
font-family: "Times New Roman", serif;
font-size: 7pt;
font-weight: normal;
}
.f8
{
font-family: "Times New Roman", serif;
font-size: 9pt;
font-weight: normal;
font-style: italic;
}
.f9
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
font-style: italic;
}
.f10
{
font-family: "Times New Roman", serif;
font-size: 21pt;
font-weight: bold;
}
