.f0
{
font-family: "Arial", serif;
font-size: 11pt;
font-weight: normal;
}
.f1
{
font-family: "Arial", serif;
font-size: 10pt;
font-weight: normal;
}
.f2
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f3
{
font-family: "Times New Roman", serif;
font-size: 10pt;
font-weight: normal;
}
.f4
{
font-family: "Times New Roman", serif;
font-size: 14pt;
font-weight: bold;
}
.f5
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
font-style: italic;
}
.f6
{
font-family: "Times New Roman", serif;
font-size: 13pt;
font-weight: bold;
}
.f7
{
font-family: "Times New Roman", serif;
font-size: 9pt;
font-weight: normal;
}
