.f0
{
font-family: "Courier New", serif;
font-size: 6pt;
font-weight: normal;
}
.f1
{
font-family: "Courier New", serif;
font-size: 8pt;
font-weight: normal;
}
.f2
{
font-family: "Courier New", serif;
font-size: 7pt;
font-weight: normal;
}
.f3
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f4
{
font-family: "Times New Roman", serif;
font-size: 14pt;
font-weight: bold;
}
.f5
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
font-style: italic;
}
