.f0
{
font-family: "Times New Roman", serif;
font-size: 13pt;
font-weight: normal;
}
.f1
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f2
{
font-family: "Times New Roman", serif;
font-size: 16pt;
font-weight: normal;
}
