.f0
{
font-family: "Courier New", serif;
font-size: 12pt;
font-weight: normal;
}
.f1
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f2
{
font-family: "Times New Roman", serif;
font-size: 10pt;
font-weight: normal;
}
