.f0
{
font-family: "Arial", serif;
font-size: 10pt;
font-weight: normal;
}
.f1
{
font-family: "Arial", serif;
font-size: 10pt;
font-weight: bold;
}
.f2
{
font-family: "Arial", serif;
font-size: 9pt;
font-weight: normal;
}
