.f0
{
font-family: "Arial", serif;
font-size: 10pt;
font-weight: normal;
}
.f1
{
font-family: "Arial", serif;
font-size: 10pt;
font-weight: bold;
}
.f2
{
font-family: "Times New Roman", serif;
font-size: 13pt;
font-weight: bold;
}
.f3
{
font-family: "Times New Roman", serif;
font-size: 11pt;
font-weight: normal;
}
.f4
{
font-family: "Times New Roman", serif;
font-size: 10pt;
font-weight: normal;
}
